{{!-- TODO: Validation --}}
{{!-- TODO: Get roles/options from the api --}}

{{> components/endpoints/Table }}

<div id="modal">
	<div class="modal-content">
		{{> components/endpoints/Builder }}
	</div>
</div>

<script>
	
</script>