<div class="login-box">
	<header>
		<h2>API</h2>
	</header>
	<main>
		<input type="text" id="u" placeholder="Username"><br>
		<input type="password" id="p" placeholder="Password"><br>
		<div class="remember-wrapper">
			<input type="checkbox" id="remember">
			<label for="remember">Remember me</label>
		</div>
		<button onclick="doLogin()">Login</button><br>
	</main>
</div>
<div id="message" class="message"></div>

<script>
	function createCookie(name, value, days) {
		if (days) {
				var date = new Date()
				date.setTime(date.getTime() + (days*24*60*60*1000))
				var expires = " ;expires="+date.toGMTString()
			}
			else var expires = ""
			document.cookie = name+"="+value+expires+"; path=/"
	}

	function eraseCookie(name) {
		createCookie(name, "", -1)
	}

	function loadRememberMe() {
		let u = document.getElementById('u')
		let checbox = document.getElementById('remember')
		let remember = localStorage.getItem('rememberme')
		if (remember) {
			u.value = remember
			checbox.checked = true
		}
	}

	function rememberMeHandle(username) {
		const remember = document.getElementById('remember').checked
		if (remember) localStorage.setItem('rememberme', username)
		else localStorage.setItem('rememberme', '')
	}

	function doLogin() {
		const u = document.getElementById('u').value
		const p = document.getElementById('p').value
		const data = { username: u, password: p }
		var API_PATH = {{{json apiPath}}}

		fetch(`${API_PATH}/login`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(data)
		})
			.then(res => res.json())
			.then(res => {
				console.log(res)
				// TODO: Set apiPath in localStorage instead of
				// hardcoded /api throughout the whole dashboard
				if (res && res.token) {
					// Save api path in localStorage (sent while rendering the login page tempalte)
					localStorage.setItem('api_path', API_PATH)

					createCookie('token', res.token, 365)
					localStorage.setItem('user', res.userId)
					rememberMeHandle(u)
        	window.location.href = `${API_PATH}/dashboard`
					
				} else {
					document.getElementById('message').textContent = res.message
					window.scrollTo(0, document.body.scrollHeight)
				}
			})
	}

	loadRememberMe()
</script>