{{!-- <style>
	
</style> --}}
<div class="users">
	<div class="table-sm table-hover table-striped">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					{{!-- TODO: Generate table from user properties --}}
					<th scope="col">ID</th>
					<th scope="col">Roles</th>
					<th scope="col">Full name</th>
					<th scope="col">Username</th>
					<th scope="col">Email</th>
					<th scope="col" class="created">Created</th>
					<th scope="col" class="updated">Updated</th>
					<th scope="col" class="operation">Operation</th>
				</tr>
			</thead>
			<tbody id="usersTableBody"></tbody>
		</table>
	</div>
</div>

<script>
	async function getUsers() {
		const users = await fetch('/api/user')
		.then(res => res.json())
		.then(res => {
			console.log(res)
			return res
		})

		const mappedUsers = users.map(user => {
				return `
					<tr>
						<th>${user._id}</th>
						<td>${user.roles}</td>
						<td>${user.firstName + ' ' + user.lastName}</td>
						<td>${user.username}</td>
						<td>${user.email}</td>
						<td class="created">${user.created}</td>
						<td class="updated">${user.updated}</td>

						<td class="operation">
							<button type="button" class="btn btn-outline-info" data-id="${user._id}" onclick="editUser()">Edit</button>
							<button type="button" class="btn btn-outline-danger" data-id="${user._id}" onclick="deleteUser()">Delete</button>
						</td>
					</tr>
				`
		}).join('')
		document.getElementById('usersTableBody').innerHTML = mappedUsers
	}

	function editUser() {
		const id = event.target.getAttribute('data-id')
		console.log('id: ', id)
	}

	getUsers()
</script>