// Base colors
$light-grey: #dddddd;
$medium-grey: #b4b3b3;
$dark-grey: #5a5a5a;
$main-blue: #17a2b8;
$active-blue: #0081eb;
$light-blue: #4ca3eb;
$sections-bg-color: #f4f4f4;

// Messages
$error: #dc3545;
$error-dark: #721c24;

// Layout
$sidebar-width: 250px;
$top-bar-height: 60px;